@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #212121;
    overflow-x: hidden;
    /* border-left: 3px solid #2d2d2d; */
    /* border-right: 3px solid #2d2d2d; */
    font-family: 'Libre Franklin', sans-serif;
}